@using System.Data.Entity.Core.Common.EntitySql
@model VidlyMVCApp.Models.Movie
@{
    ViewBag.Title = "AddNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>AddNewMovie</title>
</head>
<body>
    <div>
            <form action="/Movies/SaveMovie" method="post">
                Name: <input type="text" id="TxtName" name="Name" value="" /><br />

                <input type="submit" name ="btnSubmit" value="Add Movie"  />
                <input type="reset" name="btnReset" value="Reset" />

                <input type="submit" name="btnSubmit" value="Cancel" />
            </form>
        </div>

</body>
</html>
