@model VidlyMVCApp.Models.Movie
@{
    ViewBag.Title = "AddNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewMovie</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        <form action="/Movies/SaveMovie" method="post">
            <table>
                <tr>
                    <td>Name: </td>
                    @*<td><input type="text" id="TxtName" name="Name" value="" size="40" /></td>*@
                    
                    <td>@Html.EditorFor(m => m.Name)</td>
                    <td>@Html.ValidationMessageFor(model => model.Name )</td>
                    

                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input type="submit" name="btnSubmit" value="Add Movie" />
                        <input type="reset" name="btnReset" value="Reset" />
                        <input type="submit" name="btnSubmit" value="Cancel" />
                    </td>
                </tr>

            </table>

        </form>
    </div>

</body>
</html>