@model VidlyMVCApp.Models.Movie

@{
    ViewBag.Title = "TestValidationAttibute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestValidationAttibute</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.Name)  
    @Html.ValidationMessageFor(model => model.Name)  


    <p>  
        <input type="submit" value="Save" />  
    </p> 
}