@model VidlyMVCApp.Models.Movie

@{
    ViewBag.Title = "TestValidationAttibute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<h2>TestValidationAttibute</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.Name)  
    <div>
         @Html.ValidationMessageFor(model => model.Name)  
       @* @Html.ValidationSummary()*@
    </div>

    <p>  
        <input type="submit" value="Save" />  
    </p> 
}