@model VidlyMVCApp.Models.Movie

@{
    ViewBag.Title = "TestValidationAttibute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/Validation.js"></script>
</head>
<h2>TestValidationAttibute</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.Name)  
    <div>
         @Html.ValidationMessageFor(model => model.Name)  
    </div>
    <span class="validation-error" id="spanErrorDisplay">fdg</span>
    <p>  
        <input type="submit" value="Save" onclick="return  IsNameEmpty();" />  
    </p> 
}